/*引入字體(外部資源放在最上)*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: 
  /* Cross-platform generic font family (default user interface font) */
  system-ui,
  
  /* Safari for macOS and iOS (San Francisco) */
  -apple-system,
  /* Chrome for macOS and iOS */
  BlinkMacSystemFont,
  
  /* Windows */
  "Segoe UI",
  "Microsoft JhengHei",
  
  /* Android */
  Roboto,
  
  /* older macOS and iOS */
  "Helvetica Neue",
  
  /* Linux */
  "Noto Sans",
  "Liberation Sans",
  
  /* Basic web fallback */
  Arial,
  /* Sans serif fallback */
  sans-serif,
  
  /* Emoji fonts */
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 	 line-height: 1.2;
	 font-size: 20px;
	 letter-spacing: 0.05em;
}

*, *::before, *::after {
	box-sizing: border-box;
}


/*通用樣式*/
.container {
	width: 640px;
	margin: 0 auto;
   display: flex;
   margin-top: 0px;
}

.context{
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
}

.content1{
   display: flex;
   align-items: flex-end;

}

.content2{
   display: flex;
   align-items: flex-end;
}


.mb-24{
   margin-bottom: 24px;
}

.news1{
   margin: 20px;
}

p{
   font-size: 16px;
}


.title1 img{
   display: block;
}

.title2 img{
   display: block;
}

.imglarge{
}

.imglarge img{
   display: block;
}


.footer{
   width: 640px;
   padding-top: 48px;
   padding-bottom: 48px;
   background: #002256;
   text-align: center;
   line-height: 1.5;
	font-size: 16px;
   color: aliceblue;
	margin: 0 auto;
}

